.l-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
}

.l-header {
    text-align: center;
    padding: 30px 0;
}

.l-logo-img {
    height: 40px;
    display: block;
    margin: 0 auto;
}

.l-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.l-card {
    display: flex;
    background: white;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    flex-wrap: wrap;
}

.l-left-section {
    flex: 1;
    background-color: #4b0082;
    color: white;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}

.l-dashboard-image {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.l-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: center;
}

.l-description p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.l-right-section {
    flex: 1;
    padding: 40px 30px;
    min-width: 300px;
}

.l-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;

}

.l-form label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
}

.l-form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 6px;
    box-sizing: border-box;
}

.l-error {
    color: red;
    font-size: 13px;
    margin-top: 8px;
    display: block;
    text-align: center;
}

.l-login-button {
    width: 140px;
    padding: 12px;
    background-color: #4b0082;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.l-login-button:hover {
    background-color: #37005f;
}

.l-password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.l-password-wrapper input {
    flex: 1;
    padding-right: 40px;
}

.l-eye-icon {
    position: absolute;
    right: 10px;
    color: #4b0082;
    cursor: pointer;
    font-size: 16px;
}



@media (max-width: 768px) {
    .l-card {
        flex-direction: column;
        width: 100%;
        border-radius: 30px;
        box-shadow: none;
        padding: 5px;
    }

    .l-left-section,
    .l-right-section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .l-dashboard-image {
        width: 100%;
        max-height: 220px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .l-description h3 {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 8px;
    }

    .l-description p {
        font-size: 13px;
        line-height: 1.5;
    }

    .l-title {
        font-size: 20px;
        text-align: center;
    }

    .l-form input {
        font-size: 14px;
    }

    .l-error {
        font-size: 12px;
    }

    .l-password-wrapper {
        width: 100%;
    }
}